*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grids-container{
    background-color: #009D96;
    height: 657px;
    display: grid;
    grid-template-columns: 0.3fr 1.2fr;
    grid-template-rows: 0.2fr 1.4fr;
    grid-template-areas: 
    "image image"
    "left-section main-section"
    ;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1rem;
}

.logo{
    width: 380px;
    height: 100px;
    margin: 15px 0px 0px 500px;
    grid-area: image;
}

.logo img{
    width: 380px;
    height: 100px; 
    cursor: pointer;   
}

.left-section-compose{
    grid-area: left-section;
    width: 220px;
    height: 280px;
    background-color: #fff;
    margin-left: 45px;
    margin-top: 50px;
}
.left-section-compose h2{
    color: #009D96;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin: 0px 0px 20px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: left;
    
}

.header-2{
    margin-top: 40px;

}

.left-section-compose h2:nth-child(2),.left-section-compose h2:nth-child(3),.left-section-compose h2:last-child {
    color: #009D96;
    font-weight: 300;
    /* border: 1px solid red; */
    text-align: left;
    

}


.main-section{
    grid-area: main-section;
    border: 1px solid #009D96;
    
    
}

.main-section h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 30px;
    font-style: italic;
    border: 1px solid #009D96;
    width: 250px;
    height: 35px;

}

.main-message-section{
    width: 900px;
    height: 450px;
    margin-top: 9px;
    background-color: #f9a826ec;
    border: 1px solid #f9a826;
}

.main-message{
    width: 860px;
    height: 410px;
    /* background-color: #fff; */
    margin: 20px;
    /* border: 1px solid #fff; */
}

/* .sub-section-message{
    background-color: yellowgreen;
    height: 350px;
    width: 700px;
    margin: 15px 0px 28px 35px;
    border: 1px solid red;
} */
#compose-number {
    height: 28px;
    padding: 15px;
    width: 327px;
    margin-bottom: 27px;
    border: none;
    /* border: 1px solid #009D96; */
}

.form-section{
    width: 580px;
}
.form-section form{
    margin-left: 0px;
    /* border: 1px solid #009D96; */
    width: 470px;
    margin: 0;
    height: 330px;
}

.form-section button{
    width: 120px;
    height: 30px;
    background-color: #009D96;
    margin-left: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    border-radius: 5px;
    border: 0;
    
}

.form-section button:hover{
    background-color: #009d95bb;
    cursor: pointer;
}


#compose-subject{
    border: 0;
    background-color: #fff ;
    color: #363A3A;
    margin-bottom: 27px;
    width: 327px;
    height: 28px;
    padding: 15px;
    /* border: 1px solid #009D96; */
    
}

#compose-number:focus{
    outline-color: #009D96;
}

#compose-number::placeholder{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #363A3A;
}

#compose-subject:focus{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0 ;
    background-color: #fff;
    outline-color: #009D96;
}

#compose-subject::placeholder{
    
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: #363A3A;
}



textarea{
      height: 150px;
      padding-top: 0px;
      font-size: 15px;
      background-color: #fff;
      color: #363A3A;
      mix-blend-mode: normal;           
      padding: 4px;
      width: 445px;      
      border: none;
      resize: none;
      font-family: 'Public Sans', sans-serif;
      outline-color: #009D96;
      padding-left: 18px;
  }

  textarea::placeholder{
    color: #363A3A;
    font-size: 15px;
  }
  
  .container-history{
    width: 860px;
    height: 410px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid #fff;
  }
  .hisory-message-section{
      display: flex;
      width: 800px;
      justify-content: space-between;
  }

  .hisory-message-section .btn{
    display: flex;
    justify-content: space-between;
    width: 185px;
    margin-top: 67px;
    
  }

  .btn button{
      width: 100px;
      height: 30px;
      margin-left: 15px;
      background-color: #009D96;
      color: #fff;
      border: 0;
      cursor: pointer;
  }

  .btn button:hover{
      background-color: #009d95bb;
  }
  .hisory-message{
      /* border: 1px solid red; */
      width: 600px;
      height: 70px;
      margin-top: 27px;
      margin-left: 15px;
      background-color: #e4e4e4;
      
  }

  .hisory-message h3{
      width: 50px;
      margin-left: 20px;
  }

  .hisory-message #subject{
    width: 200px;
  }

  .hisory-message #message{
    width: 300px;
  }