*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F9A826;
}

.right-form form{
    background-color: #F9A826 ;
    /* opacity: 0.80; */
    height: 370px ;
    width:420px;
    border-radius: 7px;
    margin-top: 170px;
    margin-left: 510px;
}

.main-logo{
    margin-bottom: 15px;
}
.main-logo img{
    width: 307px;
    margin-left: 40px;
    cursor: pointer;
}
input{
   width: 280px;
   height: 28px; 
   
}

input::placeholder{
   color: #009D96 ;
   font-family: 'Inter', sans-serif;
   margin-left: 55px;
}

input:focus{
   outline-color:  #F9A826;
}
/* input[type="text"]{
    background-color: #fff;
    border: none;
    margin-bottom: 27px;
    margin-left: 70px;
    margin-top: 27px;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
} */

input[type="password"]{
    background-color: #fff;
    margin-bottom: 27px;
    margin-left: 15px;
    border: none;
    outline-color: #F9A826;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
}

input[type="submit"]{
    background-color: #F9A826;
    border: none;
    margin-left: 15px;
    margin-bottom: 27px;
    color: #009D96;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

}

input[type="submit"]:hover{
    background-color: #f9a826d3;
    color: #fff;
}

/* input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-left: 70px;
} */

label{
   font-family: 'Inter', sans-serif;
   color: #fff;
   margin-top: 96px;
    margin-left: 0;   
    text-align: center;
   font-size: 12px;
   font-style: italic;

}

#newPass{
    margin-top: 27px;
}

/* #remember{
    margin-top: 10px;
    margin-left: 10px;
    
}

#forgotten {
    margin-left: 60px;
}

#forgotten a{
    color: #F9A826;
    text-decoration: none;
}
 */


#sign-up-color{
    color: #F9A826;
    font-weight: 700;
    cursor: pointer;
}
