*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 /* body{

 } */

 .grid-container-signup{
     /* border: 1px solid red; */
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr;
     grid-template-areas: 
     "left right"
     ;
 }
 
 .left-svg-signup{
     grid-area: left;
     border: 1px solid #009D96;
     background-color: #009D96;
     height: 656px;
 }

 .left-svg-signup .left-logo-signup svg{
    margin-left: 70px;
    margin-top: 10px;
    cursor: pointer;
 }
 .signup-form{
     grid-area: right;
     border: 1px solid #F9A826;
     background-color: #F9A826;
     height: 656px;
 }

 .signup-form form{
    background-color: #009D96 ;
    /* opacity: 0.80; */
    height: 500px ;
    width:420px;
    border-radius: 7px;
    margin-top: 70px;
    margin-left: 148px;
}
.signup-form input{
   width: 280px;
   height: 28px; 
   
}

.signup-form input::placeholder{
   color: #009D96 ;
   font-family: 'Inter', sans-serif;
   /* margin-left: 55px; */
}

.signup-form input:focus{
   /* border-color: #F9A826; */
   outline-color: #F9A826;
   color: #009D96;
}
.signup-form input[type="text"]{
    background-color: #fff;
    border: none;
    margin-bottom: 27px;
    margin-left: 70px;
    padding-left: 20px;
    box-shadow: 1px 5px 5px #3f3f3f;
}

#firstname-input{
    margin-top: 70px;
}

.signup-form input[type="email"]{
    background-color: #fff;
    margin-bottom: 27px;
    margin-left: 70px;
    border: none;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
}

.signup-form input[type="password"]{
    background-color: #fff;
    margin-bottom: 27px;
    margin-left: 70px;
    border: none;
    box-shadow: 1px 5px 5px #3f3f3f;
    padding-left: 20px;
}

.signup-form input[type="submit"]{
    background-color: #F9A826;
    border: none;
    margin-left: 70px;
    margin-bottom: 27px;
    color: #009D96;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-transform: uppercase;

}

.signup-form input[type="submit"]:hover{
    background-color: #fff;
    color: #F9A826;
    
}

.signup-form input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

.signup-form label{
   font-family: 'Inter', sans-serif;
   color: #fff;
   font-size: 12px;
   margin-left: 137px;
}



#sign-in-color{
    color: #F9A826;
    font-weight: 700;
    cursor: pointer;
}

#a-member a:hover { 
    color: #fff;
}